.bg-image {
    background-image: url('../../assets/IMG_1476.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text-shadow {
    text-shadow: 1px 1px 2px black;
}